import libraries(I provide all libs that I need when make this tasks, if you need some external import them here)

In [1]:
import findspark

findspark.init()

In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StructType, StructField, IntegerType, StringType
from pyspark.sql.functions import col
from pyspark.sql.functions import max, avg, min
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number
from pyspark.sql.functions import when

create local SparkSession

In [3]:
spark = SparkSession.builder \
    .master('local[*]') \
    .appName('spark-demo') \
    .getOrCreate()

22/12/23 22:00:24 WARN Utils: Your hostname, archlinux resolves to a loopback address: 127.0.1.1; using 192.168.0.109 instead (on interface wlp0s20f3)
22/12/23 22:00:24 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address

Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).

22/12/23 22:00:25 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

read csv with inferschema

In [4]:
%%time

df = spark.read \
    .option('header', True) \
    .option('inferSchema', True) \
    .csv('../data/ds_salaries.csv')

CPU times: user 0 ns, sys: 4.43 ms, total: 4.43 ms
Wall time: 4.67 s

read csv one more time with the same code and you will see that it almostly don't take time, because info already in SparkSession and it will not read nothing
from this file

In [5]:
%%time

df = spark.read \
    .option('header', True) \
    .option('inferSchema', True) \
    .csv('../data/ds_salaries.csv')

CPU times: user 3.04 ms, sys: 0 ns, total: 3.04 ms
Wall time: 261 ms

write schema of scv on screen

In [6]:
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- work_year: integer (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: integer (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: integer (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

create schema of this scv

In [4]:
schema = StructType([
    StructField('id', IntegerType(), nullable=True),
    StructField('work_year', StringType(), nullable=True),
    StructField('experience_level', StringType(), nullable=True),
    StructField('employment_type', StringType(), nullable=True),
    StructField('job_title', StringType(), nullable=True),
    StructField('salary', StringType(), nullable=True),
    StructField('salary_currency', StringType(), nullable=True),
    StructField('salary_in_usd', StringType(), nullable=True),
    StructField('employee_residence', StringType(), nullable=True),
    StructField('remote_ratio', StringType(), nullable=True),
    StructField('company_location', StringType(), nullable=True),
    StructField('company_size', StringType(), nullable=True)
])

restart kernel without cleaning output and after restarting you need to initialize SparkSession, after initialize start execute only cells from cell with schema=
=StructType.... 
To restart kernel click Kernel, Restart.

read ds_salaries with predefined schema and compare results from this cell and cell with inferSchema

In [5]:
%%time

df = spark.read \
    .option('header', True) \
    .schema(schema) \
    .csv('../data/ds_salaries.csv')

CPU times: user 4.88 ms, sys: 604 Âµs, total: 5.48 ms
Wall time: 2.67 s

this happens because read operation is lazy(transformation), but if you use inferschema it start to be action that will create Spark Job, because Spark need to loop throw all file to check datatypes for all columns and this can harm to your code(if we compare to parquet, it will also go to check data types, but parquet provide meta information, so Spark will not go throw all file, he will just read meta information, but csv don't provide such meta information). Also header make Spark to create one more Spark Job to check first line
to define name of columns and remember to skeep it when reading. Actual reading start when you will use first action. More about Spark Jobs you will see in next topic

write schema of scv on screen one more time and compare with previous

In [6]:
df.printSchema()

root
 |-- id: integer (nullable = true)
 |-- work_year: string (nullable = true)
 |-- experience_level: string (nullable = true)
 |-- employment_type: string (nullable = true)
 |-- job_title: string (nullable = true)
 |-- salary: string (nullable = true)
 |-- salary_currency: string (nullable = true)
 |-- salary_in_usd: string (nullable = true)
 |-- employee_residence: string (nullable = true)
 |-- remote_ratio: string (nullable = true)
 |-- company_location: string (nullable = true)
 |-- company_size: string (nullable = true)

now continue to work with one of the dataframes that you create

print data in dataframe using df.show

In [7]:
df.show(truncate=False)

22/12/23 22:00:48 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: id, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv
+---+---------+----------------+---------------+--------------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|id |work_year|experience_level|employment_type|job_title                 |salary  |salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+---+---------+----------------+---------------+--------------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
|0  |2020     |MI              |FT             |Data Scientist            |70000   |EUR            |79833        |DE                |0           |DE              |L           |
|1  |2020     |SE              |FT             |Machine Learning Scientist|260000  |USD            |260000       |JP                |0           |JP              |S           |
|2  |2020     |SE              |FT             |Big Data Engineer         |85000   |GBP            |109024       |GB                |50          |GB              |M           |
|3  |2020     |MI              |FT             |Product Data Analyst      |20000   |USD            |20000        |HN                |0           |HN              |S           |
|4  |2020     |SE              |FT             |Machine Learning Engineer |150000  |USD            |150000       |US                |50          |US              |L           |
|5  |2020     |EN              |FT             |Data Analyst              |72000   |USD            |72000        |US                |100         |US              |L           |
|6  |2020     |SE              |FT             |Lead Data Scientist       |190000  |USD            |190000       |US                |100         |US              |S           |
|7  |2020     |MI              |FT             |Data Scientist            |11000000|HUF            |35735        |HU                |50          |HU              |L           |
|8  |2020     |MI              |FT             |Business Data Analyst     |135000  |USD            |135000       |US                |100         |US              |L           |
|9  |2020     |SE              |FT             |Lead Data Engineer        |125000  |USD            |125000       |NZ                |50          |NZ              |S           |
|10 |2020     |EN              |FT             |Data Scientist            |45000   |EUR            |51321        |FR                |0           |FR              |S           |
|11 |2020     |MI              |FT             |Data Scientist            |3000000 |INR            |40481        |IN                |0           |IN              |L           |
|12 |2020     |EN              |FT             |Data Scientist            |35000   |EUR            |39916        |FR                |0           |FR              |M           |
|13 |2020     |MI              |FT             |Lead Data Analyst         |87000   |USD            |87000        |US                |100         |US              |L           |
|14 |2020     |MI              |FT             |Data Analyst              |85000   |USD            |85000        |US                |100         |US              |L           |
|15 |2020     |MI              |FT             |Data Analyst              |8000    |USD            |8000         |PK                |50          |PK              |L           |
|16 |2020     |EN              |FT             |Data Engineer             |4450000 |JPY            |41689        |JP                |100         |JP              |S           |
|17 |2020     |SE              |FT             |Big Data Engineer         |100000  |EUR            |114047       |PL                |100         |GB              |S           |
|18 |2020     |EN              |FT             |Data Science Consultant   |423000  |INR            |5707         |IN                |50          |IN              |M           |
|19 |2020     |MI              |FT             |Lead Data Engineer        |56000   |USD            |56000        |PT                |100         |US              |M           |
+---+---------+----------------+---------------+--------------------------+--------+---------------+-------------+------------------+------------+----------------+------------+
only showing top 20 rows

print data in dataframe using display(df.toPandas())

In [8]:
display(df.toPandas())

22/12/23 22:00:49 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: id, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv

,id,work_year,experience_level,employment_type,job_title,salary,salary_currency,salary_in_usd,employee_residence,remote_ratio,company_location,company_size
0,0,2020,MI,FT,Data Scientist,70000,EUR,79833,DE,0,DE,L
1,1,2020,SE,FT,Machine Learning Scientist,260000,USD,260000,JP,0,JP,S
2,2,2020,SE,FT,Big Data Engineer,85000,GBP,109024,GB,50,GB,M
3,3,2020,MI,FT,Product Data Analyst,20000,USD,20000,HN,0,HN,S
4,4,2020,SE,FT,Machine Learning Engineer,150000,USD,150000,US,50,US,L
...,...,...,...,...,...,...,...,...,...,...,...,...
602,602,2022,SE,FT,Data Engineer,154000,USD,154000,US,100,US,M
603,603,2022,SE,FT,Data Engineer,126000,USD,126000,US,100,US,M
604,604,2022,SE,FT,Data Analyst,129000,USD,129000,US,0,US,M
605,605,2022,SE,FT,Data Analyst,150000,USD,150000,US,100,US,M
606,606,2022,MI,FT,AI Scientist,200000,USD,200000,IN,100,US,L

create df_job_title that consists from all job_titles without duplicates

In [9]:
df_job_title = df.select('job_title').distinct()

print all rows from df_job_titles without truncating jobs

In [10]:
df_job_title.show(truncate=False)

+----------------------------------------+
|job_title                               |
+----------------------------------------+
|3D Computer Vision Researcher           |
|Lead Data Engineer                      |
|Head of Machine Learning                |
|Data Specialist                         |
|Data Analytics Lead                     |
|Machine Learning Scientist              |
|Lead Data Analyst                       |
|Data Engineering Manager                |
|Staff Data Scientist                    |
|ETL Developer                           |
|Director of Data Engineering            |
|Product Data Analyst                    |
|Principal Data Scientist                |
|AI Scientist                            |
|Director of Data Science                |
|Machine Learning Engineer               |
|Lead Data Scientist                     |
|Machine Learning Infrastructure Engineer|
|Data Science Engineer                   |
|Machine Learning Manager                |
+----------------------------------------+
only showing top 20 rows

create  df_analytic that will consists from max, avg, min USD salaries for all job_titles using groupBy. name of fields is avg_salary, min_salary, max_salary

In [11]:
df_analytic = df \
    .groupby('job_title') \
    .agg(max('salary_in_usd').alias('max_salary'),
         avg('salary_in_usd').alias('avg_salary'),
         min('salary_in_usd').alias('min_salary'))

print all rows from df_analytic without trancating jobs

In [12]:
df_analytic.show(truncate=False)

+----------------------------------+----------+------------------+----------+
|job_title                         |max_salary|avg_salary        |min_salary|
+----------------------------------+----------+------------------+----------+
|3D Computer Vision Researcher     |5409      |5409.0            |5409      |
|AI Scientist                      |55000     |66135.57142857143 |12000     |
|Analytics Engineer                |205300    |175000.0          |135000    |
|Applied Data Scientist            |54238     |175655.0          |110037    |
|Applied Machine Learning Scientist|75000     |142068.75         |31875     |
|BI Data Analyst                   |98000     |74755.16666666667 |100000    |
|Big Data Architect                |99703     |99703.0           |99703     |
|Big Data Engineer                 |70000     |51974.0           |109024    |
|Business Data Analyst             |70912     |76691.2           |100000    |
|Cloud Data Engineer               |89294     |124647.0          |160000    |
|Computer Vision Engineer          |60000     |44419.333333333336|10000     |
|Computer Vision Software Engineer |95746     |105248.66666666667|150000    |
|Data Analyst                      |99050     |92893.06185567011 |10000     |
|Data Analytics Engineer           |79197     |64799.25          |110000    |
|Data Analytics Lead               |405000    |405000.0          |405000    |
|Data Analytics Manager            |150260    |127134.28571428571|105400    |
|Data Architect                    |90700     |177873.9090909091 |144854    |
|Data Engineer                     |99100     |112725.0          |100000    |
|Data Engineering Manager          |79833     |123227.2          |150000    |
|Data Science Consultant           |90000     |69420.71428571429 |103000    |
+----------------------------------+----------+------------------+----------+
only showing top 20 rows

now you need to add in df_analytic column row_id, that will show order of all job_titles depending on avg salary. they should be descending

In [13]:
window = Window.orderBy(col('avg_salary').desc())
df_analytic = df_analytic.withColumn('row_id', row_number().over(window))

print all data from df_analytic

In [14]:
df_analytic.show(truncate=False)

22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+----------------------------------+----------+------------------+----------+------+
|job_title                         |max_salary|avg_salary        |min_salary|row_id|
+----------------------------------+----------+------------------+----------+------+
|Data Analytics Lead               |405000    |405000.0          |405000    |1     |
|Principal Data Engineer           |600000    |328333.3333333333 |185000    |2     |
|Financial Data Analyst            |450000    |275000.0          |100000    |3     |
|Principal Data Scientist          |416000    |215242.42857142858|148261    |4     |
|Director of Data Science          |325000    |195074.0          |130026    |5     |
|Data Architect                    |90700     |177873.9090909091 |144854    |6     |
|Applied Data Scientist            |54238     |175655.0          |110037    |7     |
|Analytics Engineer                |205300    |175000.0          |135000    |8     |
|Data Specialist                   |165000    |165000.0          |165000    |9     |
|Head of Data                      |32974     |160162.6          |102839    |10    |
|Machine Learning Scientist        |260000    |158412.5          |112300    |11    |
|Data Science Manager              |94665     |158328.5          |137141    |12    |
|Director of Data Engineering      |200000    |156738.0          |113476    |13    |
|Head of Data Science              |85000     |146718.75         |110000    |14    |
|Applied Machine Learning Scientist|75000     |142068.75         |31875     |15    |
|Lead Data Engineer                |56000     |139724.5          |103160    |16    |
|Data Analytics Manager            |150260    |127134.28571428571|105400    |17    |
|Cloud Data Engineer               |89294     |124647.0          |160000    |18    |
|Data Engineering Manager          |79833     |123227.2          |150000    |19    |
|Principal Data Analyst            |75000     |122500.0          |170000    |20    |
+----------------------------------+----------+------------------+----------+------+
only showing top 20 rows

it isn't beautifull, so we need to put now row_id on first place in df_analytic

In [15]:
df_analytic = df_analytic.select('row_id', 'job_title', 'max_salary', 'avg_salary', 'min_salary')

print df_analytic now

In [16]:
df_analytic.show(truncate=False)

22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
22/12/23 22:00:51 WARN WindowExec: No Partition Defined for Window operation! Moving all data to a single partition, this can cause serious performance degradation.
+------+----------------------------------+----------+------------------+----------+
|row_id|job_title                         |max_salary|avg_salary        |min_salary|
+------+----------------------------------+----------+------------------+----------+
|1     |Data Analytics Lead               |405000    |405000.0          |405000    |
|2     |Principal Data Engineer           |600000    |328333.3333333333 |185000    |
|3     |Financial Data Analyst            |450000    |275000.0          |100000    |
|4     |Principal Data Scientist          |416000    |215242.42857142858|148261    |
|5     |Director of Data Science          |325000    |195074.0          |130026    |
|6     |Data Architect                    |90700     |177873.9090909091 |144854    |
|7     |Applied Data Scientist            |54238     |175655.0          |110037    |
|8     |Analytics Engineer                |205300    |175000.0          |135000    |
|9     |Data Specialist                   |165000    |165000.0          |165000    |
|10    |Head of Data                      |32974     |160162.6          |102839    |
|11    |Machine Learning Scientist        |260000    |158412.5          |112300    |
|12    |Data Science Manager              |94665     |158328.5          |137141    |
|13    |Director of Data Engineering      |200000    |156738.0          |113476    |
|14    |Head of Data Science              |85000     |146718.75         |110000    |
|15    |Applied Machine Learning Scientist|75000     |142068.75         |31875     |
|16    |Lead Data Engineer                |56000     |139724.5          |103160    |
|17    |Data Analytics Manager            |150260    |127134.28571428571|105400    |
|18    |Cloud Data Engineer               |89294     |124647.0          |160000    |
|19    |Data Engineering Manager          |79833     |123227.2          |150000    |
|20    |Principal Data Analyst            |75000     |122500.0          |170000    |
+------+----------------------------------+----------+------------------+----------+
only showing top 20 rows

here you need to create df_exp_lvl with the biggest usd_salary(biggest_salary) for each experience_level(you need to save all fields like in entire dataframe)

In [17]:
window = Window.partitionBy('experience_level')
df_exp_lvl = df.withColumn('biggest_salary', max('salary_in_usd').over(window))

print here df_exp_lvl

In [18]:
df_exp_lvl.show(truncate=False)

22/12/23 22:00:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: id, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv
+---+---------+----------------+---------------+-------------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
|id |work_year|experience_level|employment_type|job_title                |salary |salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|biggest_salary|
+---+---------+----------------+---------------+-------------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
|5  |2020     |EN              |FT             |Data Analyst             |72000  |USD            |72000        |US                |100         |US              |L           |9272          |
|10 |2020     |EN              |FT             |Data Scientist           |45000  |EUR            |51321        |FR                |0           |FR              |S           |9272          |
|12 |2020     |EN              |FT             |Data Scientist           |35000  |EUR            |39916        |FR                |0           |FR              |M           |9272          |
|16 |2020     |EN              |FT             |Data Engineer            |4450000|JPY            |41689        |JP                |100         |JP              |S           |9272          |
|18 |2020     |EN              |FT             |Data Science Consultant  |423000 |INR            |5707         |IN                |50          |IN              |M           |9272          |
|26 |2020     |EN              |FT             |Research Scientist       |42000  |USD            |42000        |NL                |50          |NL              |L           |9272          |
|28 |2020     |EN              |CT             |Business Data Analyst    |100000 |USD            |100000       |US                |100         |US              |L           |9272          |
|31 |2020     |EN              |FT             |Big Data Engineer        |70000  |USD            |70000        |US                |100         |US              |L           |9272          |
|37 |2020     |EN              |FT             |Machine Learning Engineer|250000 |USD            |250000       |US                |50          |US              |L           |9272          |
|38 |2020     |EN              |FT             |Data Analyst             |10000  |USD            |10000        |NG                |100         |NG              |S           |9272          |
|39 |2020     |EN              |FT             |Machine Learning Engineer|138000 |USD            |138000       |US                |100         |US              |S           |9272          |
|45 |2020     |EN              |PT             |ML Engineer              |14000  |EUR            |15966        |DE                |100         |DE              |S           |9272          |
|50 |2020     |EN              |FT             |Data Analyst             |450000 |INR            |6072         |IN                |0           |IN              |S           |9272          |
|51 |2020     |EN              |FT             |Data Analyst             |91000  |USD            |91000        |US                |100         |US              |L           |9272          |
|52 |2020     |EN              |FT             |AI Scientist             |300000 |DKK            |45896        |DK                |50          |DK              |S           |9272          |
|53 |2020     |EN              |FT             |Data Engineer            |48000  |EUR            |54742        |PK                |100         |DE              |L           |9272          |
|62 |2020     |EN              |PT             |Data Scientist           |19000  |EUR            |21669        |IT                |50          |IT              |S           |9272          |
|65 |2020     |EN              |FT             |Data Scientist           |55000  |EUR            |62726        |DE                |50          |DE              |S           |9272          |
|66 |2020     |EN              |FT             |Data Scientist           |43200  |EUR            |49268        |DE                |0           |DE              |S           |9272          |
|68 |2020     |EN              |FT             |Data Scientist           |105000 |USD            |105000       |US                |100         |US              |S           |9272          |
+---+---------+----------------+---------------+-------------------------+-------+---------------+-------------+------------------+------------+----------------+------------+--------------+
only showing top 20 rows

create df_best that consists from rows where salary of guy same as biggest salary for other people in his exp_lvl and choose only columns: id, experience_level, biggest_salary, employee_residence

In [19]:
df_best = df_exp_lvl \
    .select('id', 'experience_level', 'biggest_salary', 'employee_residence') \
    .where(col('salary_in_usd') == col('biggest_salary'))

print df_best

In [20]:
df_best.show(truncate=False)

22/12/23 22:00:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, salary_in_usd, employee_residence
 Schema: id, experience_level, salary_in_usd, employee_residence
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv
+---+----------------+--------------+------------------+
|id |experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
|196|EN              |9272          |KE                |
|161|EX              |85000         |RU                |
|543|MI              |99100         |US                |
|255|SE              |99703         |CA                |
+---+----------------+--------------+------------------+

drop duplicates if exist by experience_level

In [21]:
df_best = df_best.dropDuplicates(['experience_level'])

print df_best

In [22]:
df_best.show(truncate=False)

22/12/23 22:00:52 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , experience_level, salary_in_usd, employee_residence
 Schema: id, experience_level, salary_in_usd, employee_residence
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv
+---+----------------+--------------+------------------+
|id |experience_level|biggest_salary|employee_residence|
+---+----------------+--------------+------------------+
|196|EN              |9272          |KE                |
|161|EX              |85000         |RU                |
|543|MI              |99100         |US                |
|255|SE              |99703         |CA                |
+---+----------------+--------------+------------------+

create df_new_best from df_best without id, and make the next: when exp_level = MI we want middle, when SE we want senior, else Null

In [23]:
df_new_best = df_best \
    .select('biggest_salary',
            'employee_residence',
            when(col('experience_level') == 'MI', 'middle')
            .when(col('experience_level') == 'SE', 'senior')
            .otherwise(None).alias('experience_level'))

print df_new_best

In [24]:
df_new_best.show(truncate=False)

+--------------+------------------+----------------+
|biggest_salary|employee_residence|experience_level|
+--------------+------------------+----------------+
|9272          |KE                |null            |
|85000         |RU                |null            |
|99100         |US                |middle          |
|99703         |CA                |senior          |
+--------------+------------------+----------------+

write df_new_best like 1.csv and load then it to df_final

In [25]:
df_new_best.write \
    .option('header', True) \
    .mode('overwrite') \
    .csv('../data/1.csv')

In [26]:
df_final = spark.read \
    .option('header', True) \
    .csv('../data/1.csv')

print df_final

In [27]:
df_final.show(truncate=False)

+--------------+------------------+----------------+
|biggest_salary|employee_residence|experience_level|
+--------------+------------------+----------------+
|9272          |KE                |null            |
|85000         |RU                |null            |
|99100         |US                |middle          |
|99703         |CA                |senior          |
+--------------+------------------+----------------+

filter df_final to delete experience_level where it Null, then join this table by biggest_salary(salary_in_usd) and employee_residence with entire df

In [28]:
df_final = df_final \
    .dropna(subset='experience_level') \
    .join(df, (df_final.biggest_salary == df.salary_in_usd) & (df_final.employee_residence == df.employee_residence))

print df_final

In [29]:
df_final.show(truncate=False)

22/12/23 22:00:54 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
 Schema: id, work_year, experience_level, employment_type, job_title, salary, salary_currency, salary_in_usd, employee_residence, remote_ratio, company_location, company_size
Expected: id but found:
CSV file: file:///home/konstantin/Projects/de/spark-demo/data/ds_salaries.csv
+--------------+------------------+----------------+---+---------+----------------+---------------+------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|biggest_salary|employee_residence|experience_level|id |work_year|experience_level|employment_type|job_title         |salary|salary_currency|salary_in_usd|employee_residence|remote_ratio|company_location|company_size|
+--------------+------------------+----------------+---+---------+----------------+---------------+------------------+------+---------------+-------------+------------------+------------+----------------+------------+
|99703         |CA                |senior          |255|2021     |SE              |FT             |Big Data Architect|125000|CAD            |99703        |CA                |50          |CA              |M           |
|99100         |US                |middle          |543|2022     |MI              |FT             |Data Engineer     |99100 |USD            |99100        |US                |0           |US              |M           |
+--------------+------------------+----------------+---+---------+----------------+---------------+------------------+------+---------------+-------------+------------------+------------+----------------+------------+

last task is to save in variable and then print this variable of the biggest salary_in_usd from df_final

In [30]:
biggest_salary = df_final.select(max('biggest_salary')).collect()[0][0]
biggest_salary

'99703'

It is the end of PySpark basics. In other lessons you will learn optimizations technics and how to make distributed system